:root {
  --accent-color: #ff6c00;
  --dark-color: #303030;
  --main-color: #555555;
  --white: #ffffff;
  --grey: #9da4bd;
}

/* @font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"),
    url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
} */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: flex;
}

.section {
  padding: 130px 0;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white);
  margin: 0 0 20px;
}

.title-label {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin: 0 0 20px;
}

.title-label:before {
  content: " ";
  display: block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--dark-color);
  margin: 0 0 44px;
}
.white-title {
  color: var(--white);
}

.section-description {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  margin: 0 0 20px;
}

.phone-link,
.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--white);
}

.btn {
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;
  transition: background-color 0.5s ease-in;
}

.btn:hover {
  background-color: var(--accent-color);
  transition: background-color 0.2s ease-in;
}

.btn-dark {
  color: var(--dark-color);
}

.btn-submit:disabled,
.btn-submit:disabled:hover {
  background-color: #cccccc;
  border-color: grey;
}

.btn-wrap {
  text-align: center;
}

.phone-link {
  margin-right: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  margin-right: 71px;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--white);
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus,
.phone-link:hover,
.phone-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.social-link:hover,
.socail-list:focus {
  color: var(--accent-color);
}

.social-list {
  display: flex;
  align-items: center;
}

.social-list:before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

.social-item:not(:last-child) {
  margin-right: 40px;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-color);
  text-decoration: none;
}

.social-icons-list {
  display: flex;
  justify-content: center;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: var(--white);
  border-radius: 50%;
}

.social-icon {
  fill: var(--dark-color);
}

.social-icons-link:hover .social-icon,
.social-icons-link:focus .social-icon {
  fill: var(--accent-color);
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* background: #191c2633; */
  padding: 32px 0;
  z-index: 99;
}

.section .flexbox {
  justify-content: space-between;
}

.page-header .flexbox {
  justify-content: flex-end;
  align-items: center;
}

.content-box {
  width: calc((100% - 30px) / 2);
}

.hero-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100px;
  height: 100%;
}

.hero-sidebar .social-list {
  transform: rotate(-90deg) translateX(50%);
}

.hero .container {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2) 0%, rgba(25, 28, 38, 0.2) 100%), url(../images/hero/3.jpg);
  background-repeat: no-repeat;
  background-position: 115px 0;
  position: relative;
}

.hero .title-label {
  color: rgba(157, 164, 189, 0.6);
}

.hero .section-description {
  color: #9da4bd;
}

.hero-content {
  max-width: 50%;
  padding-top: 150px;
  padding-bottom: 206px;
  padding-left: 200px;
}

.about-us-list {
  display: flex;
  justify-content: space-between;
}

.about-us-item {
  width: calc((100% - 30px) / 2);
}
.about-us .section-title,
.benefits .section-title {
  margin-bottom: 20px;
}

.prices {
  background-color: #111319;
  background-image: url(../images/price-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #9da4bd;
}

.prices .section-title {
  color: white;
}

.prices .title-label {
  color: rgba(157, 164, 189, 0.6);
}

.price-list {
  width: 50%;
  padding: 30px 40px;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.team {
  background-color: #f7f7f7;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.team-item:nth-child(3n) {
  margin-right: 0;
}

.member-name {
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  color: var(--dark-color);
}

.member-position {
  font-size: 14px;
  line-height: 1.136;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
}

/* .contact-us-form:focus-within .btn-submit, */
.contact-us-field:focus ~ .btn-submit {
  background: var(--accent-color);
}

.contact-us-field {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding: 8px 0;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: white;
  background: transparent;
  margin-bottom: 44px;
}

.contact-us-field:valid:required:not(:placeholder-shown) {
  border-bottom: 1px solid green;
  color: green;
}

.contact-us-field:invalid:required:not(:placeholder-shown) {
  border-bottom: 1px solid red;
  color: red;
}

.contact-us-field:not(.contact-us-message) {
  width: calc(50% - 15px);
}

.contact-us-field:first-child {
  margin-right: 26px;
}

.contact-us-field::placeholder {
  font-size: 11px;
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}

.contact-us-message {
  width: 100%;
  resize: none;
}

.contacts {
  padding-left: 100px;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-list,
.contacts-link {
  font-size: 18px;
  line-height: 1.389;
  color: var(--grey);
}

.contacts-link {
  text-decoration: none;
}

.contacts-icon {
  vertical-align: middle;
  margin-right: 20px;
}

.work-time {
  padding-top: 70px;
  color: #9da4bd;
}

.work-time .title-label {
  color: white;
}

.dark-background {
  background-color: #191c26;
}

.dark-background .flexbox {
  justify-content: space-between;
}

.footer {
  padding: 56px 0;
}

.footer .flexbox {
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: var(--grey);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 28, 38, 0.8);
  z-index: 100;
  opacity: 1;
  transition: all 2s ease-out;
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  background-color: #f7f7f7;
  padding: 80px 40px;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--dark-color);
  background-color: var(--dark-color);
  color: white;
}

.message {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
