:root {
  --accent-color: #ff6c00;
  --dark-color: #303030;
  --main-color: #555555;
  --white: #ffffff;
  --grey: #9da4bd;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/open_sans/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/opensans-semibold-webfont.woff2") format("woff2"),
    url("../fonts/open_sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: flex;
}

.section {
  padding: 130px 0;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white);
  margin: 0 0 20px;
}

.title-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin: 0 0 20px;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--dark-color);
  margin: 0 0 44px;
}
.white-title {
  color: var(--white);
}

.section-description {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  margin: 0 0 20px;
}

.btn {
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.phone-link,
.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--white);
}
.btn {
  padding: 12px 20px;
}

.phone-link {
  margin-right: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  margin-right: 71px;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--white);
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus,
.phone-link:hover,
.phone-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.social-link:hover,
.socail-list:focus {
  color: var(--accent-color);
}

.social-list {
  display: flex;
}

.social-item:not(:last-child) {
  margin-right: 40px;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--dark-color);
  text-decoration: none;
}

.page-header {
  background: #191c2633;
  padding: 32px 0;
}

.section .flexbox {
  justify-content: space-between;
}

.page-header .flexbox {
  justify-content: flex-end;
  align-items: center;
}

.content-box {
  width: calc((100% - 30px) / 2);
}

.hero {
  background: rgba(25, 28, 38, 0.2);
}

.about-us-list {
  display: flex;
  justify-content: space-between;
}

.about-us-item {
  width: calc((100% - 30px) / 2);
}
.about-us .section-title,
.benefits .section-title {
  margin-bottom: 20px;
}

.prices {
  background: #191c26;
}

.price-list {
  width: 50%;
  padding: 30px 40px;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.team-item:nth-child(3n) {
  margin-right: 0;
}

.member-name {
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  color: var(--dark-color);
}

.member-position {
  font-size: 14px;
  line-height: 1.136;
  text-align: center;
  color: var(--accent-color);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-list,
.contacts-link {
  font-size: 18px;
  line-height: 1.389;
  color: var(--grey);
}

.contacts-link {
  text-decoration: none;
}

.dark-background {
  background: #191c26;
}

.footer {
  padding: 56px 0;
}

.footer .flexbox {
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: var(--grey);
}
