.footer {
  padding: 56px 0;

  .flexbox {
    justify-content: space-between;
    align-items: center;
  }
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: $grey;
}
